header{
    display: flex;
    flex: row;
   justify-content: center;
    align-items: center;
    background-color: rgb(57, 52, 52);
}
.logo{
    max-height: 50px;
    max-width: 50px;
    border-radius: 20px ;
    
}
